{% extends 'base.html.twig' %}

{% block title %}Modifier le chapitre{% endblock %}

{% block body %}
<div class="main-chart" style="padding:50px;">
    <div class="border-head" style="margin:auto; width: 70%">
        <a style="margin-top:20px;" class="btn btn-info" href="{{ path('personnages_index',  {'idProjet' : projet.id }) }}"><i class="fa fa-chevron-left"></i> Annuler la création</a>
        <h2 style="margin-bottom:30px;">Modifier le chapitre</h2>
    </div>

    <div class="formulaire" style="margin:auto; width: 70%">
    {{ include('chapitre/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    {{ include('chapitre/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script>
        $('select').select2();
    </script>
{% endblock %}
