{% extends 'base.html.twig' %}

{% block title %}New Personnages{% endblock %}

{% block body %}
    <h1>Create new Personnages</h1>

    {{ include('personnages/_form.html.twig') }}

    <a href="{{ path('personnages_index', {'id': personnage.id, 'idProjet' : projets.id }) }}">back to list</a>
{% endblock %}
